{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
      <!-- Blog Entries Column -->
        <div class="col-12">
            <div class="row">
                {% for urlToImage, author, title, description, url in news_list %}
                <div class="col-md-12 container center">
                    <div class="card mb-12">
                        <div class="card-body">
                            <hr>
                            <div class="row g-0">
                                <div class="col-md-6 masthead-text">
                                    <h6 class="post-title"> Author: {{ author }} </h6>
                                    <h1 class="post-subtitle">{{ title }}</h1>
                                    <p class="post-subtitle">{{ description }} </p>
                                    <a href=" {{ url }} " class="post-subtitle"> Continue Reading Here</a>
                                </div>
                                <div class="d-none d-md-block col-md-6 masthead-image">
                                    <img src= "{{ urlToImage }}" style="width:100%" alt="Gaming Image">
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>
{%endblock%}
